*{padding:0; margin:0;}

/* HTML Elements */
$bg-noise:url('noise.jpg') repeat top left;
$bg-color:#efefef;
$bg-color-dark:#cfcfcf;
$shadow:inset 0 -1px 0 #fff, 0 3px 8px #aaa;
$border:1px solid #ccc;

/* Text Elements */
$text-color:#666666;
$text-color-dark:#333333;
$text-shadow:0 1px 0 #ffffff;
/*Sample Mixins*/


body{font-size:14px; color:#666; background:$bg-noise;}

#box{

	-webkit-box-shadow:$shadow;
	text-align:center;
	text-shadow: 0 1px 0 #fff;
	border:$border;
	margin:40px auto;
	padding:20px;
	color:$text-color;
	width:200px;
	height:200px;
	background-color:$bg-color;


	
	h1{
		font-family:"Helvetica", "Arial", sans-serif; 
		margin-bottom:30px;
	}
	
	p{
		font-size:.9em;
		color:$text-color-dark;
		line-height:1.2em;
	}

}

.bar{
	width:100%;
	background:$bg-color;
	border:$border;
	-webkit-box-shadow:$shadow;
	padding:10px;
	
	section{
		margin:auto;
		color:$text-color-dark;
		text-shadow:$text-shadow;
		text-align:center;
		
		nav a{
			font-style:italic;
			padding: 10px;
			text-decoration:none;
			color:$text-color-dark;
			&:hover{color:$text-color;}
		
		}
	}
}