<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stew's Sandbox</title>
	<link rel="stylesheet" href="styles/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/960_12_col.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="topnav">
        <ul>
            <li><a href="/sandbox.html">Sandbox</a></li>
            <li><a href="/rauh">Rauh</a></li>
        </ul>
    </div>
    {{ content }}
</body>
</html>
