<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Stewart Hines</title>
	<link rel="stylesheet" href="styles/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/960_12_col.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="styles/sandbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script>
	   jQuery(function($){
	       $('#' + '{{ page.active }}').addClass('active');
	   });
	</script>
</head>
<body>
	<div  id="navHome">
		<div class="container_12">
			<div class="grid_3">
				<a href="/index.html" id="logo"><h3>Stewart Hines</h3></a>
			</div>	
			<div class="grid_9">
				<nav>
					<a href="/lessons.html" id="lessons">Lessons</a>
					<a href="/blog" id="blog">Blog</a>
					<a href="/sandbox.html" id="sandbox">Sandbox</a>
				</nav>
			</div>
			<div class="clear"></div>
		</div>
	</div>
    {{ content }}
</body>
</html>
